.footer {
    background-color: #3d5a80; 
    padding: 10px 0;
    color: #e8dab2; 
    font-family: 'Comfortaa', cursive;
    font-size: calc(8px + 1vmin);
    text-align: center;
    position: relative; /* Change from absolute to fixed */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}


.footer a {
    color: #e8dab2;
    text-decoration: none;
}

.footer a:hover {
    color: #98c1d9;
}
