.footer {
    background-color: #e8dab2;
    padding: 10px 0;
    color: #755139;
    font-family: 'Comfortaa', cursive;
    font-size: calc(8px + 1vmin);
    text-align: center;

    position: relative; /* Change from absolute to fixed */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}


.footer a {
    color: #755139; /* Dark waffle color */
    text-decoration: none;
}

.footer a:hover {
    color: #d19763; /* Medium waffle color on hover */
}
