.navbar-custom {
    background-color: #e8dab2; /* Light waffle color */
    font-family: 'Comfortaa', cursive;
    padding: 20px 10px; /* Increase vertical padding to make navbar bigger */
    transition: all 0.5s ease-in-out; /* Transition effect */
}


.navbar-brand-custom {
    color: #755139; /* Dark waffle color */
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    transition: all 0.5s ease-in-out; /* Transition effect */
}

.navbar-brand-custom:hover {
    color: #d19763; /* Medium waffle color on hover */
}

.navbar-toggler-custom {
    border-color: #755139; /* Dark waffle color */
}

.nav-link-custom {
    color: #755139; /* Dark waffle color */
    font-size: calc(8px + 2vmin);
    margin-right: 10px;
    transition: all 0.5s ease-in-out; /* Transition effect */
    text-decoration: none; /* Removes underline */
}

.nav-link-custom:hover {
    color: #d19763; /* Medium waffle color on hover */
    text-decoration: none; /* Removes underline on hover */
}

@media (max-width: 768px) {
    .nav-link-custom {
        margin: 15px 0; /* Space out links on smaller screens */
    }
}

.active {
    color: #d19763 !important; /* Medium waffle color for active link */
    text-decoration: none; /* Removes underline for active link */
}
